boto3==1.26.112
botocore==1.29.112
Brotli==1.0.9
click==8.1.3
dash==2.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==2.1.2
Flask-Compress==1.12
fsspec==2023.4.0
importlib-metadata==4.11.4
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.1
numpy==1.22.4
pandas==1.4.2
plotly==5.8.0
pyathena==2.24.0
python-dateutil==2.8.2
pytz==2022.1
rsconnect-python==1.8.1
s3transfer==0.6.0
semver==2.13.0
six==1.16.0
tenacity==8.0.1
urllib3==1.26.15
Werkzeug==2.1.2
zipp==3.8.0
